@import '@/styles/common/variables';
@import '@/styles/common/mixins';

.container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  padding: 80px 0;

  .textWrapper {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-family: $fontFamily, sans-serif;
    background-color: var(--background-color);
    width: 50%;
    height: 75%;
    padding: 0 50px 0 0;

    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }

    .contacts {
      font-size: 22px;
      display: flex;
      margin-top: 90px;
      justify-content: space-between;

      span {
        color: var(--color-contrast-high);
        display: block;
        margin-top: 15px;
        font-size: 15px;
      }
    }
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 25px;
    flex-grow: 1;

    & > input {
      grid-column: span 2;
    }

    & > input:nth-child(1),
    & > input:nth-child(2) {
      grid-column: span 1;
    }

    textarea {
      resize: none;
      height: 200px;
      grid-column: span 2;
    }

    .textField {
      text-align: left;
      padding: 18px 20px 18px 20px;
      font-weight: 400;
      font-size: 16px;
      border: 1px solid var(--color-contrast-low);
      border-radius: 6px;
      transition:
        border-color 150ms ease,
        box-shadow 150ms ease;
      font-family: $fontFamily, sans-serif;
      background-color: var(--background-color);
      color: var(--color-contrast-high);

      &:focus-visible {
        --color-shadow: $primaryColor;
        outline-offset: 0;
        border-color: $primaryColor;
        box-shadow: 0 0 0 4px rgba(239, 93, 57, 0.2);
        color: var(--color-contrast-high);
      }
    }

    button {
      width: 200px;
      height: 45px;
      border-radius: 8px;
      cursor: pointer;
      background-color: $primaryColor;
      font-size: 16px;
      color: #fff;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }
}
