.container {
  height: 100%;
  width: 90%;
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;
  z-index: 1;
}
