$textColor: #191919;
$primaryColor: #ef5d39;
$bgColor: #fff;
$bgFooterColor: #f7f7f7;
$descriptionProjectColor: #787878;

$fontFamily: 'Plus Jakarta Sans';

$cubicBezier: cubic-bezier(0.215, 0.61, 0.355, 1);
$cubicBezierInNav: cubic-bezier(0.645, 0.045, 0.355, 1);
