:root {
  --main-header-width-md: 1170px;
}

:root[data-theme='light'] {
  --color-primary: hsl(12, 85%, 58%);
  --color-contrast-higher: hsl(0, 0%, 0%);
  --color-contrast-high: hsl(0, 0%, 17%);
  --color-contrast-medium: hsl(0, 0%, 46%);
  --color-contrast-low: hsl(0, 0%, 91%);
  --color-contrast-lower: hsl(0, 0%, 100%);
  --color-contrast-lowing: hsl(0, 0%, 95%);
}

:root[data-theme='dark'] {
  --color-primary: hsl(12, 85%, 58%);
  --color-contrast-higher: hsl(0, 100%, 99%);
  --color-contrast-high: hsl(0, 0%, 81%);
  --color-contrast-medium: hsl(0, 0%, 57%);
  --color-contrast-low: hsl(0, 0%, 22%);
  --color-contrast-lower: hsl(0, 0%, 11%);
  --color-contrast-lowing: hsl(0, 0%, 18%);
  --color-bg: hsl(0, 0%, 15%);
  --background-color: hsl(0, 0%, 11%);
  color: #fffafa;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--color-bg, white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
